:root {
  --brand-darkest: #564040;
  --brand-lightest: #c4dbf6;
  --gray-base: #323232;
  --brand-primary: #2a51d3;
  --brand-primary--inverted: #fff;
  --brand-secondary: #f43;
  --brand-secondary--inverted: #fff;
  --main-navigation-color: #4c516d;
  --main-navigation-color--inverted: #fff;
}
